<% layout("layouts/boilerplate") -%>
  <body>
    <div class="container">
      <h1 class="display-1 text-center mt-5">DaviScout</h1>
      <div class="text-center mt-3">
        <a type="button" class="btn btn-secondary" href="/restaurants">
          To the Restaurants!
        </a>
      </div>
    </div>
  </body>
</html>
